@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato), Lato, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior:smooth;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Lato, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


.hero-progress {
  width: 0%;
  animation: heroProgress 5s linear forwards ;
}

@keyframes heroProgress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.hero-image-zoom{
  animation: heroZoom 5s ease-in;
}
@keyframes heroZoom {
  0%,20%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.08);
  }
}


.trans-up {
  opacity: 0;
  transform: translateY(25px);
  animation: trans-up 1s ease-out forwards;
}

@keyframes trans-up {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-chevron {
  width: 28px;
  height: 28px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  transform: rotate(45deg);
  margin-top: -10px;
  opacity: 0;
  animation: chevronDown 3.2s ease-out infinite;
}

.scroll-chevron-1 {
  animation-delay: 0s;
}

.scroll-chevron-2 {
  animation-delay: 0.8s;
}

.scroll-chevron-3 {
  animation-delay: 1.6s;
}

.scroll-chevron-4 {
  animation-delay: 2.4s;
}

@keyframes chevronDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }

  15% {
    opacity: 1;
  }

  35% {
    opacity: 1;
    transform: rotate(45deg) translate(3px, 3px);
  }

  40% {
    opacity: 0.3;
    transform: rotate(45deg) translate(6px, 6px);
  }

  60% {
    opacity: 0;
    transform: rotate(45deg) translate(9px, 9px);
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(9px, 9px);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
